 <!-- head include -->


<%- include('partials/head') %>
  <body background-color="black">
<!--nav bar -->
<%- include('partials/navbar') %>

<!-- listados de operaciones -->
<h3 align ="center"> ultimas 10 </h3>
<div class="button" align="left"  padding="5px" ><a href="./operaciones" class="btn btn-primary btn-primary" padding:10px>crear operación</a></div>
<!--balance-->
  <h4> tu balance es: <%= Balance %>  </h4>  


      <!-- tabla de  ultimas 10 operaciones -->
      <table class="table">
        <thead>
          <tr padding="5px">
            <th scope="col">Tipo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        
       <!-- traigo las 10 ultimas operacions (ya funciona no tocar!!) -->
        <tbody>
          <tr><% UltimasOperaciones.forEach(operacion=> {%>
            <th scope="row"><%= operacion.Tipo%></th>
            <td><%= operacion.Concepto%></td>
            <td><%= operacion.Monto%></td>
            <td><%= operacion.Fecha%></td>
            <td><a href="#" class="btn btn-primary btn-warning"><span class="glyphicon glyphicon-pencil"></span>editar </a></td>
            <td><a href="#" class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-remove"></span>eliminar </a></td>
          </tr>
          <% }) %>
        </tbody>      




<!-- muestro todas  las operaciones registradas en la base de datos-->
 <!-- creo las columnas -->
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Concepto</th>
      <th scope="col">Monto</th>
      <th scope="col">Fecha</th>
      
    </tr>
  </thead>
  <h3 align="center">todas las operaciones</h3>
 <!-- creo las filas con los datos de la base ( ya funciona no tocar!!)  -->
  <tbody>
    <tr><% operaciones.forEach(operacion => {%>
      <th scope="row"><%= operacion.Tipo%></th>
      <td><%= operacion.Concepto%></td>
      <td><%= operacion.Monto%></td>
      <td><%= operacion.Fecha%></td>
      <td><a href="#" class="btn btn-primary btn-warning"></span>editar </a></td>
      <td><a href="#" class="btn btn-primary btn-danger"></span>eliminar </a></td>
    </tr>
    <% }) %>
  </tbody>
</table>
    </body>









  </body>


</html>
